<div class="container" style="margin-top: 80px;text-align: -webkit-center;" >
    <h2 class="col-md-10" ng-bind="titleContent"></h2>
    <div class="col-md-10" style="margin-top: 20px">
        <form class="form-horizontal" role="exercise">
            <fieldset disabled ng-show="false">
                <div class="form-group row">
                    <label class="col-sm-3 col-sm-3 col-form-label" for="userGroup._id">ID</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" class="form-control" ng-model="userGroup._id" id="userGroup._id"/>
                    </div>
                </div>
            </fieldset>
            <fieldset id="fieldGroup">
                <div class="form-group row">
                    <label for="userGroup.name" class="col-sm-3 col-md-3 col-form-label">分组名称(*)</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" ng-model="userGroup.name" class="form-control" id="userGroup.name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="userGroup.desc" class="col-md-3 col-form-label">分组描述(*)</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="userGroup.desc" class="form-control" id="userGroup.desc" name="userGroup.desc"/>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="row"> 权限管理 </div>
                <fieldset ng-repeat="parentMenu in allMenus" style="border: 1px solid dimgrey;padding:8px;margin-bottom: 20px;text-align: left;">
                    <legend style="   width: 25%;
                                      font-size: 20px;
                                      font-weight: bolder;
                                      text-align: left;
                                       ">
                        {{ parentMenu.name }}&nbsp;&nbsp;&nbsp;&nbsp;全选
                        <input type="checkbox" name=""  value="{{ parentMenu._id}}"
                             ng-click="clickAllSelect($event,parentMenu._id)"
                             ng-checked="isSelectedAlldddd(parentMenu._id)"
                        />
                    </legend>
                     <div class="form-check form-check-inline" ng-repeat="childMenu in parentMenu.childList"
                     style="font-size: 20px;">
                         <label class="form-check-label">
                           <input type="checkbox"
                                value="{{ childMenu._id }}" class="form-check-input"
                                ng-click="updateSelection($event, childMenu._id)" ng-checked="isSelected(childMenu._id)"
                               />{{childMenu.name}}
                         </label>
                     </div>
                </fieldset>



            </fieldset>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button ng-show="isUpdate == '1'" id="btnUpdate" type="button" ng-click="update()" class="btn btn-secondary">更新</button>
                    <button ng-show="isUpdate == '0'" id="btnAdd" type="button" ng-click="add()" class="btn btn-secondary">添加</button>
                    <button id="btnReturn" type="button" ng-click="back()" class="btn btn-secondary">返回</button>
                </div>
            </div>
        </form>
    </div>
</div>
