<div class="container-fluid"  style="margin-top: 30px;background-color: white">
   <div class="row" style="margin-left: 15px;"><span>习题管理>>></span></div>
   <div class="row" style="margin-top: 10px;">
       <div class="col-md-10">
       <form id="formSearch" class="form-horizontal">
           <div class="form-group row" style="margin-top:15px;margin-left: -5px">
               <label class="col-sm-1" style="margin-top: 5px;padding-right: 0px" for="exercise.tittle">习题名称</label>
               <div class="col-sm-3" style="padding-left: 0px">
                   <input class="form-control" ng-blur ="blurFun()" type="text" ng-model="exercise.tittle" id="exercise.tittle" name="exercise.tittle">
               </div>
               <label class="col-sm-1" style="margin-top: 5px;padding-right: 0px" for="exercise.category">习题分类</label>
               <div class="col-sm-3" style="padding-left: 0px">
                     <select class="form-control" ng-change ="changeValue()" type="text" ng-model="exercise.categoryId">
                        <option  value="-1" selected>请选择</option >
                        <option ng-repeat="category in categories" value="{{ category._id }}">{{ category.name }}</option >
                     </select>
                </div>
           </div>
        </form>
           <div class="btn-group" id="toolBar" style=" margin-left: 15px;">
               <!-- <button  type="button" class="btn btn-secondary">
                   <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="btnReset()">重置</span>
               </button> -->
               <button type="button" class="btn btn-sm btn-primary">
                   <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="btnAdd()">新增</span>
               </button>

               <button type="button" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="btnDelete()">删除</span>
               </button>
               <button type="button" class="btn btn-sm btn-primary">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="btnRefresh()">刷新</span>
               </button>
           </div>

           <div id=tableDiv  style="margin-left: 15px; margin-right: 15px;" class="table table-striped">
               <table id="table" data-classes="table table-no-border" ></table>
           </div>

       </div>
       <div class="col-md-1"></div>
   </div>
</div>
