<div class="container" style="margin-top: 80px;text-align: -webkit-center;" >
    <h2 class="col-md-10" >试卷信息添加</h2>
    <div class="col-md-10" style="margin-top: 20px">
        <form class="form-horizontal" role="examinationForm">
            <fieldset disabled ng-show="false">
                <div class="form-group row">
                    <label class="col-sm-3 col-sm-3 col-form-label" for="id">ID</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" class="form-control" ng-model="examination._id" id="examination._id"/>
                    </div>
                </div>
            </fieldset>
            <fieldset id="fieldGroup">
                <div class="form-group row">
                    <label for="examination.name" class="col-sm-3 col-md-3 col-form-label">试卷名称(*)</label>
                    <div class="col-sm-9 col-md-9">
                        <input type="text" ng-model="examination.name" class="form-control" id="examination.name" />
                    </div>
                </div>
                <div class="form-group row">
                    <label for="examination.sumScore" class="col-md-3 col-form-label">分值(*)</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="examination.sumScore" class="form-control" id="examination.sumScore" name="examination.sumScore"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="examination.classification" class="col-md-3 col-form-label">分类(*)</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="examination.classification" class="form-control" id="examination.classification" name="examination.classification"/>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="examination.subject" class="col-md-3 col-form-label">所属科目(*)</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="examination.subject" class="form-control" id="examination.subject" name="examination.subject"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="examination.description" class="col-md-3 col-form-label">试卷描述(*)</label>
                    <div class="col-sm-9">
                        <input type="text" ng-model="examination.description" class="form-control" id="examination.description" name="examination.description"/>
                    </div>
                </div>
                <div class="form-group row">
                  <label class="col-md-3 col-form-label">考试时间</label>
                  <div class="col-md-9" >
                    <div class="input-group">
                      <input type="text" class="form-control"  uib-datepicker-popup="{{ format }}" ng-model="examination.startDate" is-open="openStrat" datepicker-options="startDateOptions" ng-required="true" close-text="Close" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="openStartDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                      <label class="col-form-label">至</label>
                    <input type="text" class="form-control"  uib-datepicker-popup="{{ format }}" ng-model="examination.endDate" is-open="openEnd" datepicker-options="endDateOptions" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openEndDate($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                    </span>
                    </div>
                  </div>
                </div>

                <div class="form-group row">
                    <label for="exercise.category" class="col-md-3 col-form-label">选择试卷(*)</label>
                    <div class="col-sm-9">
                        <select class="form-control" ng-model="selectPaper" ng-options="x.name for x in paper">
                        </select>
                    </div>
                </div>


            </fieldset>
            <div class="form-group">
                <div class="col-md-offset-3 col-md-9">
                    <button ng-show="isUpdate == 1" id="btnUpdate" type="button" ng-click="update()" class="btn btn-secondary">更新</button>
                    <button ng-show="isUpdate == 0" id="btnAdd" type="button" ng-click="add()" class="btn btn-secondary">添加</button>
                    <button id="btnReturn" type="button" ng-click="back()" class="btn btn-secondary">返回</button>
                </div>
            </div>
        </form>
         <!-- 试题管理 -->
    </div>

<!--    <div class="modal fade col-md-8 offset-md-2" style="margin-top: 20%;" id="excExerModal" tabindex="-1" role="dialog">
        <div class="modal-content">
            <div class="modal-header">
              <h4 id="edit_modal_title" class="modal-title font_normal" style="margin: auto">添加习题</h4>
            </div>
             <table id="table" style="" style="width: 800px;"></table>
             <div class="modal-footer" style="margin: auto;">
                 <button type="button" ng-click="saveSelectExer();" class="btn  btn-primary" data-dismiss="modal">保存</button>
             </div>
         </div>
         <div class="modal-dialog" role="document">

         </div>
    </div>


    <div class="modal fade col-md-8 offset-md-2" style="margin-top: 20%;height: 800px;" id="incExerModal" tabindex="-1" role="dialog">
         <div class="modal-content">
                <div class="modal-header">
                  <h4 id="edit_modal_title" class="modal-title font_normal" style="margin: auto">查看习题</h4>
                </div>
                 <table id="incTable" style="width: 800px;">
                      <tr>
                          <th style="width: 300px">题目</th>
                          <th>分值</th>
                          <th>选择题</th>
                          <th>分类</th>
                      </tr>
                      <tr ng-repeat="exer in selectExers">
                        <td style="width: 300px">{{ exer.tittle }}</td>
                        <td>{{ exer.weight }}</td>
                        <td>{{ exer.type == "0"?"选择题":"未知" }}</td>
                        <td>{{ exer.categoryId['name'] }}</td>
                      </tr>
                 </table>
                 <div class="modal-footer" style="margin: auto;">
                     <button type="button" ng-click="saveIncExer();" class="btn  btn-primary" data-dismiss="modal">关闭</button>
                 </div>
             </div>
         <div  class="modal-dialog" role="document">
         </div>
    </div>
-->
</div>

