<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>first</title>
    <link rel='stylesheet' href='style.css' />
    <script src="js/jquery-3.4.1.min.js"></script>
    <script src="js/angular-1.7.6.min.js"></script>
    <script src="js/angular-ui-router.js"></script>
    <script src="js/ui-bootstrap.min.js"></script>

    <script src="module/module.js"></script>
    <script src="routes/movie.router.js"></script>
    <script src="controller/main.controller.js"></script>
    <script src="controller/movie.controller.js"></script>
    <script src="service/movie.service.js"></script>
    <script src="service/session.storage.js"></script>
  </head>
  <body >
  <div ui-view></div>
  </body>
  <script>

</script>
</html>